accelerate
annotated-types
anyio
beautifulsoup4
boto3
botocore
bpemb
certifi==2023.11.17
charset-normalizer
click
conllu
contourpy
CouchDB
cycler
Deprecated
fastapi
filelock
flair
fonttools
fsspec
ftfy
gdown
gensim
h11
huggingface-hub
idna
Janome
Jinja2
jmespath
joblib
kiwisolver
langdetect
lxml
MarkupSafe
matplotlib
more-itertools
mpld3
mpmath
networkx
nltk
numpy
packaging
pillow
pptree
protobuf
psutil
pydantic
pydantic_core
pyparsing
PySocks
python-dateutil
pytorch_revgrad
PyYAML
regex
requests
s3transfer
safetensors
scikit-learn
scipy
segtok
semver
sentencepiece
six
smart-open
sniffio
soupsieve
sqlitedict
starlette
sympy
tabulate
threadpoolctl
tokenizers
torch
tqdm
transformer-smaller-training-vocab
transformers
typing_extensions
urllib3
uvicorn
wcwidth
Wikipedia-API
wrapt
